.contact-container {
  .contact-wrapper {
    .map-container {
    border-radius: 1rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
      .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }

    .addr-container {
      .icon-text {
        display: flex;
        vertical-align: middle;

        p{
          margin-left: 16px;
        }
      }
    }
  }
}
