<section class="contact-container">
  <p class="mat-headline-4 bold-txt mr-bt-48">
    Contact Us
  </p>

  <div class="contact-wrapper">
    <mat-grid-list cols="{{(deviceInfoService.isHandset$ | async) ? 1: 2}}" rowHeight="4:3" gutterSize="48px">

      <mat-grid-tile class="map-container mr-bt-48">
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d559.6425916039216!2d75.11985440348998!3d15.362932809006285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb8d74588e3aad5%3A0x42f317648a351ff0!2sMajjagi%20Infrastructure!5e0!3m2!1sen!2sin!4v1678176942436!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="addr-container">
        <p class="mat-h1  bold-txt">Majjagi Infrastructure</p>
        <div class="icon-text">
          <mat-icon aria-hidden="false" aria-label="place" fontIcon="place"  class="icon-color"></mat-icon>
          <p class="mat-body-1">1st floor, Gurudeva landmark, <br> near more supermarket, Shirur Park,<br> Hubballi, Karnataka 580021</p>
        </div>
        <div class="icon-text">
          <mat-icon aria-hidden="false" aria-label="phone" fontIcon="phone" class="icon-color"></mat-icon> <p class="mat-body-1">08363581848</p>
        </div>
        <div  class="icon-text">
          <mat-icon aria-hidden="email" aria-label="email" fontIcon="mail"  class="icon-color"></mat-icon> <p class="mat-body-1">majjagiinfrastructure@gmail.com</p>
        </div>
      </div>
    </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>


