<section class="about-container">
  <p class="mat-headline-4  bold-txt mr-bt-48">
    Welcome to Majjagi Infrastructure
  </p>

  <p  class="mat-body-1">
    Golden Heights Projects, today tops among the trustworthy land developers in Bangalore. The company today has many prestigious landmark projects, each one reflecting the customer's taste for innovative living. We are specialist in land development, Residential layout development and Villa Projects.
  </p>

  <p class="mat-body-1">
    Golden Heights Projects, today tops among the trustworthy land developers in Bangalore. Keeping our fingers on the pulse of the people and being innovative has helped the company to preserve its preeminence in the real estate field in Bangalore. The company today has many prestigious landmark projects, each one reflecting the customer's taste for innovative living. We are specialist in land development, Residential layout development, Apartment construction and Villa Projects.

  </p>

</section>

