<header class="app-header">
  <div class="page-header min-vh relative">
    <span class="mask bg-gradient-primary pattern"></span>
    <div class="logo">
      <div class="logo-bg">
        <img src="assets/images/logo.svg" alt="">
      </div>
      <div class="app-text">
        <div class=" app-name"
        [ngClass]="(deviceInfoService.isHandset$ | async) === false? 'mat-headline-3': 'mat-headline-4'"
        >{{"Majjagi Infrastructure" | uppercase}}</div>
        <!-- <div class="mat-headline-5 app-quote">Building a strong foundation that will last for generations</div> -->
        <div class=" app-quote"
        [ngClass]="(deviceInfoService.isHandset$ | async) === false? 'mat-headline-5': 'mat-headline-6'"
        >One of Hubballi's most trusted and respected names in Real Estate</div>
      </div>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
        </g>
      </svg>
    </div>
  </div>
</header>
