.app-header {
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    position: relative;
    top: -50;
    top: -32px;
    flex-wrap: wrap;

    .logo-bg {
      // backdrop-filter: contrast(0.8);
      margin: 24px;

      img {
        height: 256px;
        width: auto;
        // margin: 16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .app-text {
      // backdrop-filter: contrast(0.8);
      padding: 8px;
      .app-name {
        color: var(--bg-color);
        text-align: center;
        margin: 0 0 32px !important;
        font-weight: 700;
        letter-spacing: -0.05rem;
      }
      .app-quote {
        color: var(--bg-color);
        text-align: center;
        margin: 0 !important;
      }
    }
  }

  .page-header {
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    min-height: 90vh;
    // background-image: url(../../../assets/images/curved1.jpg);
  }

  .pattern::before {
    width: 80vw;
    height: 80vw;
    bottom: -40vw;
    left: 25vw;
  }

  .pattern::after {
    width: 60vw;
    height: 60vw;
    bottom: -30vw;
    left: 80vw;
}

  .pattern::before, .pattern::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    content: "";
    display: block;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10rem;
  }

  .mask {
    position: absolute;
    background-size: cover;
    background-position: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }

  .bg-gradient-primary {
    background-image: linear-gradient(310deg, var(--accent), var(--primary));
  }

  .waves {
    position: relative;
    width: 100%;
    height: 16vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
  }

  @media (max-width: 767.98px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
  }
  .z-index-1 {
    z-index: 1 !important;
  }
  .w-100 {
    width: 100% !important;
  }
  .bottom-0 {
    bottom: 0 !important;
  }

  .position-absolute {
    position: absolute !important;
  }
}

.moving-waves > use:first-child {
  animation-delay: -2s;
  animation-duration: 11s;
}

.moving-waves > use {
  animation: move-forever 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.moving-waves > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.moving-waves > use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 15s;
}

.moving-waves > use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 20s;
}

.moving-waves > use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 20s;
}

.moving-waves > use:nth-child(6) {
  animation-delay: -3s;
  animation-duration: 30s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}


