@use '@angular/material' as mat;

@include mat.core();

$kids-typography: mat.define-typography-config(
  $font-family: 'Open Sans',
);

// Now we have sweet buttons with Comic Sans.
@include mat.typography-hierarchy($kids-typography);


// Scroll bar start

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-y: scroll;
  background: var(--accent);
  box-shadow: inset 0 0 4px var(--accent);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

// Scroll bar end
