
<app-nav-bar></app-nav-bar>
<app-header id="home"></app-header>
<section [ngClass]="(deviceInfoService.isHandset$ | async) === false? 'margin-lg': 'margin-sm'">
  <div class="spacer"  id="about"></div>
  <app-about></app-about>
  <div class="spacer"></div>
  <app-services  id="service" ></app-services>
  <div class="spacer"></div>
  <app-contact  id="contact" ></app-contact>
  <div class="spacer"></div>
</section>


