<mat-toolbar class="nav-bar-container" [ngClass]="{'bg-primary': appendBG}">

  <span *ngIf="deviceInfoService.isHandset$ | async; then mobileMenu else webMenu"></span>

</mat-toolbar>


<ng-template #mobileMenu>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon class="ham-color">menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of menuItems"  (click)="navTo(item.link)">
      <span class="mat-body">{{item.name | uppercase }}</span>
    </button>
  </mat-menu>
</ng-template>

<ng-template #webMenu>
  <mat-list role="list" class="nav-list">
    <mat-list-item role="listitem" *ngFor="let item of menuItems"  (click)="navTo(item.link)">
      <span class="nav-list-item mat-body-1">{{item.name | uppercase }}</span>
    </mat-list-item>
  </mat-list>
</ng-template>
