.nav-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: end;

  .ham-color {
    color: var(--bg-color);
  }
  .nav-list {
    display: inline-flex;
    flex: 0.5;
    .nav-list-item {
      color: var(--bg-color) !important;
    }
  }

}

.bg-primary {
 background-image: linear-gradient(310deg,var(--accent),var(--primary));
}
