.service-container {

  .service-card {
    max-width: 408px;
    margin: 16px;
    border-radius: 1rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }

  .service-card-sm-bg {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .spacer {
    padding-bottom: 2rem;
  }

  .service-card-sm {
    max-width: 300px;
    margin: 16px;
    border-radius: 1rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }

  .services-flexbox-sm {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll;

    .service-title {
    }

    .service-description {
    }

  }
  .services-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    .service-title {
    }

    .service-description {
    }
  }
}
