<section class="service-container">
  <p class="mat-headline-4 bold-txt mr-bt-48">
    Services we offer
  </p>

  <span *ngIf="deviceInfoService.isHandset$ | async; then mobileView else webView"></span>

  <ng-template #webView>
    <div class="services-flexbox">
      <div *ngFor="let service of services">
        <mat-card class="service-card">
          <img mat-card-image [src]="service.imageURL" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="mat-h1 bold-txt service-title"> {{service.title}}</p>
            <p class="mat-body-1 service-description">
              {{service.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-template>

  <ng-template #mobileView>

    <swiper-container slidesPerView="1" loop="true" pagination="true">
      <swiper-slide *ngFor="let service of services">
        <div class="service-card-sm-bg"  style="width:100%">
          <mat-card class="service-card-sm">
            <img mat-card-image [src]="service.imageURL" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="mat-h1 bold-txt service-title"> {{service.title}}</p>
              <p class="mat-body-1 service-description">
                {{service.description}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="spacer"></div>
      </swiper-slide>
    </swiper-container>

  </ng-template>

</section>
