/* You can add global styles to this file, and also import other style files */
@import './theme/custom-theme.scss';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--font-primary);
  // background-image: url('./assets/images/bg.webp');
  // background-color: #ffab00;
}


.bold-txt {
  font-weight: bold !important;
}

.txt-center{
  text-align: center;
}

.mat-mdc-card-content {
  padding: 16px !important;
}

.icon-color {
  color: var(--primary);
}

.mr-bt-48 {
  margin: 0 0 48px !important;
}


:root{
  --primary: #ff0080;
  --accent: #7928ca;

  // --primary: #42275a ;
  // --accent: #734b6d;

  // --primary: #C70039;
  // --accent: #FF5733;

  // --primary: #581845;
  // --accent: #900C3F;

  --bg-color: #fff;
  --font-primary: #344767;
}

